@import '../../theme/styles/config';


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, serif;

  &__btn {
    padding: 8px;
    color: #677283;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;

    &--active {
      color: $black-color;
    }
  }

  &__arrow-btn {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &::after {
      display: inline-block;
      padding: 4px;
      border: solid black;
      border-width: 0 2px 2px 0;
      content: '';
    }

    &--prev {
      margin-right: 48px;

      &::after {
        transform: rotate(135deg);
      }

      @include mobile {
        margin-right: 8px;
      }
    }

    &--next {
      margin-left: 48px;

      &::after {
        transform: rotate(-45deg);
      }

      @include mobile {
        margin-left: 8px;
      }
    }
  }
}