@import '../../../theme/styles/config';

.product__options {
  display: flex;
  flex-direction: row;
  @include mobile {
    flex-direction: column-reverse;
  }
  &_description {
    p {
      margin-bottom: 16px;

      b, strong, h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
      }
    }
  }
}
