@import '../../../theme/styles/config';


.cart-block {
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0;

    & > span {
      @include tablet {
        display: none;
      }
    }

    & > svg {
      margin-right: 8px;
    }
  }

  &__indicator {
    position: absolute;
    top: 10px;
    left: -8px;

    span {
      position: absolute;
      top: 1px;
      left: 6px;
      color: $white-color;
    }
  }
}