@import '../../theme/styles/config';

.cabinet__nav {
  margin-right: 160px;

  @include tablet {
    margin-right: 10%;
  }

  @include mobile {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.cabinet .menu {
  display: flex;
  flex-direction: column;
  width: 240px;

  &__link {
    display: block;
    width: 100%;
    padding: 24px 32px;
    color: $black-color;
    font-size: 14px;
    line-height: 14px;
    background-color: #F5F5F5;

    &--active {
      color: $white-color;
      background-color: #98A1AF;
    }
  }
}