@import '../../../theme/styles/config';


.subcategory-nav {
  position: absolute;
  z-index: 12;
  display: none;
  width: 100%;
  min-width: 192px;
  padding: 8px 0;
  background-color: $dark-lime-color;

  &:hover {
    display: block;
  }

  &__link {
    display: inline-block;
    padding: 8px 16px;
    color: $white-color;
    font-size: 14px;

    &:hover {
      font-weight: 900;
    }
  }
}