@import 'src/theme/styles/config';

.contact__inner {
  display: flex;
  align-items: center;

  &-subtitle {
	margin: 34px 0 34px 0;
	font-weight: bold;
	font-size: 20px;
  }
  &-prompt {
	margin-left: 71px;
	color: #838080;
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
  }
}

.contact__form {
  display: flex;
  flex-direction: column;
  .contact__form-input:focus {
	border-color: $dark-lime-color;
	box-shadow: 0 0 0 4px rgba(81, 173, 51, .25);
  }
  .contact__form-input--invalid-field {
	border: 1px solid red;
  }
  .contact__form-input {
	padding-left: 15px;
	@media (max-width: 500px) {
	  width: 360px;
	  height: 44px;
	}
	@media (max-width: 370px) {
	  width: 310px;
	}
	&-input {
	  box-sizing: border-box;
	  width: 489px;
	  height: 44px;
	  margin-bottom: 18px;
	  padding-left: 10px;
	  border: 1px solid #D3D7DA;
	  border-radius: 3px;
	}
	&::placeholder {
	  padding: 0;
	  color: #9EA6B2;
	}

	&-label {
	  display: block;
	  margin-bottom: 8px;
	  font-size: 14px;
	}
  }
}
.contact__form-input__error-mg {
  display: block;
  margin: 0;
  padding-bottom: 13px;
  color: #ff0000;
  font-size: 14px;
}
.contact-details__wrapper {
  @media (max-width: 900px) {
	margin-right: auto;
	margin-left: auto;
  }
  @media (max-width: 1026px) {
  }
}
.contact__form-input {
  box-sizing: border-box;
  width: 489px;
  height: 44px;
  margin-bottom: 18px;
  border: 1px solid #D3D7DA;
  border-radius: 3px;
  @media (max-width: 500px) {
	width: 360px;
	height: 44px;
  }
  @media (max-width: 370px) {
	width: 310px;
  }
}
.contact__form-input::placeholder {
  padding-left: 15px;
  color: #9EA6B2;
}
.contact__form-label {
  margin-bottom: 8px;
  font-size: 14px;
}

.contact-details__loader {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}