@import '../../../theme/styles/config';

.comments {
  &__btn {
    margin-bottom: 24px;
    padding: 16px;
    color: $main-green-color;
    text-transform: uppercase;
    background-color: $white-color;
    border: 1px solid $dark-lime-color;
    border-radius: 4px;
    transition: background-color .3s ease-in-out;

    &:hover {
      color: $white-color;
      background-color: $main-green-color;
    }
  }

  &__edit-btn {
    position: absolute;
    top: 16px;
    right: 0;
    padding: 0 8px;
    opacity: .5;
    transition: opacity .3s;

    &:hover {
      opacity: .75;
    }
  }

  &__empty-msg {
    color: $grey-color;
    font-size: 20px;
  }
}