@import "../../theme/styles/config";

.cabinet .orders {
  width: 100%;

  &__header {
    display: flex;
    align-items: center;
    padding: 16px 0;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    background-color: #F7F5F6;

    span {
      width: 20%;
    }
  }

  &__list {
    text-align: center;
  }

  &__empty-msg {
    padding: 16px 0;
    color: $grey-color;
  }
}