@import '../../../theme/styles/config';

.product {
  &__photo {
    display: flex;
    grid-area: main-info-item2;
    justify-content: space-between;
    width: 100%;
    height: 420px;
    margin-bottom: 33px;

    &_mini {
      position: relative;
      width: 95%;
      height: auto;
      margin-right: 3%;
      margin-bottom: 15px;
      padding: 8px;
      border: 1px solid transparent;
      cursor: pointer;

      &--active {
        border: 1px solid $main-green-color;
      }
    }
    &_arrows {
      display: flex;
    }

    &_arrow {
      display: flex;
      width: 50px;
      height: 40px;
      padding: 0;
      color: white;
      background-color: $main-green-color;
      cursor: pointer;
      @include flex-centering;

      .arrow-up {
        color: white;
        font-size: 24px;
        transform: rotate(-90deg);
      }

      .arrow-down {
        color: white;
        font-size: 24px;
        transform: rotate(90deg);
      }

      .arrow-up, .arrow-down {
        svg {
          width: 10px;
          height: 18px;
        }
      }

      &:last-child {
        background-color: #2B5A1C;
      }
    }
    &_set {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100px;

      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      ::-webkit-scrollbar-thumb {
        background: #888888;
        border-radius: 4px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      &-photos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
  &__main-photos {
    display: flex;
    @include flex-centering;
    width: 100%;
    height: 100%;
    margin-left: 6%;
    overflow: hidden;

    &_main-photo {
      width: 100%;
      max-height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
}