@import '../../theme/styles/config';

.similar-models {
  padding-top: 72px;

  @include mobile {
    padding-top: 40px;
  }

  &__title {
    margin-bottom: 16px;
    margin-left: 32px;
    color: #677283;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;

    @include mobile {
      margin-left: 0;
      font-size: 20px;
      text-align: center;
    }
  }

  .slider__wrapper {
    @media (max-width: 1200px) {
      display: grid;
      grid-template-columns: 510px 300px;
      align-items: center;
      justify-content: center;
      max-width: 832px;
      margin-right: auto;
      margin-left: auto;
      overflow-x: hidden;
    }

    .slick-list {
      left: 24px;

      @media (max-width: 1200px) {
        left: 18px;
      }

      @media (max-width: 758px) {
        left: -8px;
      }

      @media (max-width: 360px) {
        left: 15px;
      }
    }
  }
}