@import '../../theme/styles/config';

.cabinet {
  position: relative;
  min-height: 720px;

  &__title {
    margin-bottom: 24px;
    color: $black-color;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;

    @include mobile {
      font-size: 20px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  &__label {
    position: relative;
    display: block;
    width: calc(50% - 16px);
    margin-bottom: 24px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    &:nth-child(odd) {
      margin-right: 16px;

      @include mobile {
        margin-right: 0;
      }
    }

    @include mobile {
      width: 100%;
    }
  }

  &__input {
    display: block;
    width: 352px;
    margin-top: 8px;
    padding: 16px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    background-color: $white-color;
    border: 1px solid #D3D7DA;
    border-radius: 2px;

    &:focus {
      border-color: $dark-lime-color;
      box-shadow: 0 0 0 4px rgba(81, 173, 51, .25);
    }

    &--invalid-field {
      border-color: $red-color;

      &:focus {
        border-color: $red-color;
        box-shadow: 0 0 0 4px rgba(255, 0, 0, .25);
      }
    }

    @include tablet {
      width: 100%;
    }

    &__error-mg {
      display: block;
      padding-top: 8px;
      color: $red-color;
      font-size: 14px;
    }
  }

  &__select {
    @extend .cabinet__input;
    line-height: 19px;
    background: transparent no-repeat right 8px center / 10px 5px  url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%236E6E6E' viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 7a.956.956 0 01-.657-.256l-5.57-5.25a.839.839 0 010-1.237.968.968 0 011.312 0L6.5 4.888 11.415.257a.968.968 0 011.313 0 .839.839 0 010 1.237l-5.572 5.25A.956.956 0 016.5 7z'/%3E%3C/svg%3E");
    cursor: pointer;
    appearance: none;
  }

  &__submit-btn {
    width: 240px;
    margin: 40px 0 110px 225px;
    padding: 16px 0;
    color: $white-color;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: .03em;
    text-transform: uppercase;
    background-color: $main-green-color;
    border-radius: 3px;

    @media screen and (max-width: 1066px) {
      margin-right: auto;
      margin-bottom: 70px;
      margin-left: auto;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:not(:disabled) {
      &:not(:checked) {
        & + .cabinet__checkbox-title {
          &:hover {
            &::before {
              border-color: #b3d7ff;
            }
          }
        }
        &:active {
          & + .cabinet__checkbox-title {
            &::before {
              background-color: #b3d7ff;
              border-color: #b3d7ff;
            }
          }
        }
      }

      &:checked {
        & + .cabinet__checkbox-title {
          &::before {
            background-color: $main-green-color;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            border-color: $main-green-color;
          }
        }
      }
    }

    &:disabled {
      & + .cabinet__checkbox-title {
        &::before {
          background-color: #d4d4d5;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
          border-color: #aeaeb1;
        }
      }
    }

    &-label {
      width: fit-content;
      height: fit-content;
      padding-top: 50px;
      line-height: 14px;

      @media screen and (max-width: 1066px) {
        width: 100%;
        text-align: center;
      }
    }

    &-title {
      @include fsz-14(.9);
      display: inline-flex;
      align-items: center;
      color: #333131;
      cursor: pointer;
      user-select: none;

      @include mobile-small {
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &::before {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        border: 1px solid #e7e9eb;
        border-radius: 2px;
        content: "";
      }
    }
  }

  &__ok-msg {
    position: fixed;
    top:0;
    left: 50%;
    z-index: 2;
    padding: 16px;
    color: $white-color;
    background-color: $main-green-color;
    border-radius: 8px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, .2);
    transform: translate(-50%, 0);
    transition: transform .3s ease-in-out;

    &--show {
      transform: translate(-50%, 50vh);
    }
  }
}