@import '../../../theme/styles/config';


.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: calc(100% - 56px);
  max-width: 320px;
  height: 100vh;
  padding: 0;
  overflow-y: auto;
  background-color: $white-color;
  transform: translateX(-320px);
  transition: transform .3s;

  &__header {
    padding: 0 16px;
  }

  .header__logo {
    display: block;
    padding: 16px 0;
  }

  &__footer {
    padding: 0 16px;
  }

  &__link {
    display: inline-block;
    width: 100%;
    padding: 16px;
    color: $main-green-color;
    font-weight: 500;
  }

  .login {
    margin-bottom: 16px;

    button {
      padding: 8px 0;
      color: $black-color;
      font-size: 18px;
    }

    button:first-child::after {
      display: inline-block;
      width: 2px;
      height: 20px;
      margin-right: 16px;
      margin-left: 16px;
      vertical-align: bottom;
      background-color: $black-color;
      content: '';
    }

    &__user-block {
      display: flex;
    }

    &__user-circle {
      @include flex-centering;
      width: 40px;
      height: 40px;
      margin-right: 16px;
      color: $main-green-color;
      font-size: 24px;
      background-color: #edf2f6;
      border-radius: 50%;
    }

    &__user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $black-color;

      span:first-child {
        margin-bottom: 4px;
      }

      span:nth-child(2) {
        color: #C2C8D0;
      }
    }
  }

  &__submenu-btn {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 16px;
    color: $main-green-color;
    font-weight: 500;
    font-size: 16px;
    text-align: left;

    &::after {
      position: absolute;
      top: 0;
      right: 23px;
      bottom: 0;
      left: auto;
      display: block;
      width: 16px;
      height: 16px;
      margin: auto;
      border-top: 4px solid $main-green-color;
      border-left: 4px solid $main-green-color;

      transform: rotate(135deg);
      transition: transform .3s ease-in-out;
      content: '';
    }

    &--expanded::after {
      transform: rotate(225deg);
    }
  }

  &__tel-block {
    display: flex;
    align-items: center;
  }

  &__tel {
    display: inline-block;
    padding: 16px;
    color: $black-color;
    font-weight: 500;
  }

  &--show {
    transform: translateX(0);

    & ~ .mobile-nav-overlay {
      display: block;
    }
  }

  .category-list {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out;

    &--show {
      max-height: 500px;
    }

    &__link {
      @extend .mobile-nav__link;
      padding-left: 32px;
    }
  }
}

.mobile-nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2998;
  display: none;
  background: rgba(0, 0, 0, .54);
}