@import '../../theme/styles/config';

.cabinet .change-password {
  width: 100%;

  &__form {
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: center;
    }
  }

  &__show-btn {
    position: absolute;
    top: 36px;
    right: 16px;
    padding: 0;
  }

  .cabinet__label {
    width: 352px;
    margin-right: 0;

    @include mobile {
      width: 100%;
    }
  }
}

