@import '../../theme/styles/config';

.cart {
  min-height: 394px;
  padding-bottom: 160px;
  font-family: 'Roboto', sans-serif;

  @include mobile {
    padding-top: 8px;
  }

  &__title {
    margin-bottom: 24px;
    color: $black-color;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;

    @include mobile {
      font-size: 20px;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 32px;
    padding: 16px 0;
    font-weight: 500;
    font-size: 14px;
    background-color: #F7F5F6;

    @include mobile {
      display: none;
    }

    span {
      width: 16%;
      padding: 0 8px;
    }

    span:nth-child(1) {
      width: 36%;
      min-width: 360px;
      padding-left: 72px;
    }
  }

  &__empty-msg {
    padding-bottom: 24px;
    color: $grey-color;
    font-size: 24px;
    text-align: center;
  }

  &__checkout-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }

    strong {
      font-weight: bold;
    }
  }

  &__btn {
    color: $white-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: 3px;

    @include mobile {
      margin-bottom: 16px;
    }

    &--continue {
      margin-right: 16px;
      padding: 8px 16px;
      background-color: #98A1AF;
      transition: color .3s ease-in-out;

      @include mobile {
        margin-right: 0;
      }

      &:hover {
        color: #eae9e9;
      }
    }

    &--checkout {
      padding: 8px 56px;
      background-color: $main-green-color;
      transition: background-color .3s ease-in-out;

      &:hover {
        background-color: #00bc52
      }
    }

    &[disabled] {
      background-color: #98A1AF;
      pointer-events: none;
    }
  }

  &__summary {
    margin-left: auto;

    @include mobile {
      margin-bottom: 16px;
      margin-left: 0;
    }
  }

  &__total-price {
    margin: 0 16px;
    font-weight: bold;
    font-size: 26px;
    text-align: center;

    @include mobile {
      margin-bottom: 16px;
    }
  }
}