@import '../../../../theme/styles/config';


.comment-add {
  .modal__content {
    @include mobile {
      width: calc(100% - 75px);
    }
  }

  &__inner {
    width: 470px;
    background-color: #f9f9fb;
    border-radius: 8px;

    @include mobile {
      width: 100%;
    }
  }

  &__header {
    position: relative;
    width: 100%;
    padding: 16px;
    font-size: 24px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e9e9e9;
      content: '';
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  &__textarea {
    width: 100%;
    margin-bottom: 32px;
    padding: 8px 16px;
    font-size: 16px;
    font-family: inherit;
    border-color: #d2d2d2;
    border-radius: 4px;
    resize: none;

    &:focus {
      border-color: $dark-lime-color;
      box-shadow: 0 0 0 4px rgba(81, 173, 51, .25);
    }
  }
}