@import 'src/theme/styles/config';

.selected-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 480px;
  margin-right: 15px;
  background: #F9F9FB;
  @media (max-width: 523px) {
	margin-right: 0;
  }
}

.selected-products__image {
  width: 100px;
}

.selected-products__inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 480px;
  height: 50px;
  padding-left: 60px;
  background: #98A1AF;
  opacity: .8;
  @media (max-width: 500px) {
	width: 360px;
  }
  @media (max-width: 370px) {
	width: 310px;
  }
}

.selected-products__inner-title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  font-style: normal;
}

.selected-products__delivery-cost {
  padding-top: 60px;
  color: #677283;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  line-height: 200%;
  @media (max-width: 500px) {
	margin-left: 35px;
	font-size: 16px;
  }
}

.selected-products__order-cost {
  margin-top: 1px;
  color: #000;
  font-weight: bold;
  font-size: 28px;
  font-style: normal;
  @media (max-width: 500px) {
	margin-left: 35px;
	font-size: 20px;
  }
}

.checkout-done__redirect-button {
  color: #fff;
}

.selected-products__confirm {
  width: 302px;
  height: 44px;
  margin-top: 36px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  text-transform: uppercase;
  background: #51AD33;
  border-radius: 3px;
  @media (max-width: 370px) {
	width: 252px;
  }
}

.selected-products__confirm-inner {
  padding-bottom: 39px;
  @media (max-width: 500px) {
	text-align: center;
  }
}

.smal-text {
  font-weight: normal;
}

.selected-products__confirm-inner,
.selected-products__order-cost,
.selected-products__delivery-cost,
.selected-products__images-wrapper {
  padding-left: 60px;
  @media (max-width: 500px) {
	padding-left: 0;
  }
}

.selected-product__image-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: space-between;
  width: 100%;
  padding: 25px 0 25px 0;
  @media (max-width: 500px) {
	justify-items: center;
  }
}

.selected-products__code {
  color: #D3D4D7;
  font-weight: normal;
  font-size: 11px;
  font-style: normal;
  letter-spacing: -.03em;
}

.selected-products__desc {
  width: 95px;
  color: #000;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.selected-products__image-price {
  span {
	font-weight: bold;
	font-size: 12px;
  }

  color: #000000;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.selected-products__container {
  @media (max-width: 500px) {
	width: 360px;
  }
  @media (max-width: 370px) {
	width: 310px;
  }
}

.selected-products__confirm:disabled,
.selected-products__confirm[disabled] {
  background-color: #ccc;
 }