@import "src/theme/styles/config";

.checkout-done {
  &__button {
	width: 207px;
	height: 47px;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	text-transform: uppercase;
	background: #98A1AF;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgb(98, 98, 100);

	@include mobile {
		margin-top: 20px;
		margin-left: 0;
	}
  }

  &__liqpay {
	margin-right: 60px;

	@include mobile {
		margin-right: 0;
	}
  }

  &__buttons-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	padding-top: 45px;
	@include mobile {
		justify-content: center;
	}
  }
  &__title {
	margin-bottom: 10px;
	color: #51AD33;
	font-weight: bold;
	font-size: 26px;
	font-style: normal;
	text-align: center;
  }
  &__info {
	color: #000;
	font-weight: normal;
	font-size: 18px;
	font-family: Open Sans;
	font-style: normal;
	line-height: 1.5;
  }
  &__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 600px;
	height: 469px;
	padding: 40px 50px;
	color: $white-color;
	text-align: center;
	background-color: #f9f9fb;
	@include mobile {
	  width: 330px;
	  height: fit-content;
	  padding: 25px 35px;
	}

	@include mobile-small {
	  width: 280px;
	  padding: 15px 30px;
	}
  }
}
.checkout-done__img {
  margin-bottom: 24px;
}
@media (max-width: 769px) {
  .checkout-done__button {
	padding: 12px 5px;
  }
}