@import '../../theme/styles/config';


.card-list {
  display: grid;
  grid-gap: 72px 20px;
  grid-template-columns: repeat(3, auto);
  min-height: 400px;
  padding-bottom: 56px;

  @include tablet {
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    justify-items: center;
  }

  &__empty-msg {
    grid-column: 1 / 4;
    font-size: 2em;
    text-align: center;
  }

  .card {
    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
      max-width: 100%;
    }

    :last-child:nth-child(2n+1) {
      @media (min-width: 556px) and (max-width: $tablet-width) {
        grid-column: 1 / 3;
        justify-self: center;
      }
    }
  }

  @media(max-width: 556px) {
    grid-template-columns: auto;
  }
}