@import '../../theme/styles/config';


.catalog-page {
  .bread-crumbs {
    @include mobile {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
  }

  .mobile-nav-overlay {
    display: block;
  }

  .option-panel {
    display: flex;
    padding-bottom: 24px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile {
      padding-bottom: 8px;
    }

    &__quantity-indicator {
      min-width: 80px;
      margin-right: 24px;
      font-size: 14px;
      line-height: 26px;

      @include mobile {
        display: none;
      }
    }

    &__shown-quantity, &__sort {
      display: flex;
      font-size: 14px;
      line-height: 26px;
    }

    &__shown-quantity {
      @include mobile {
        display: none;
      }
    }

    &__sort {
      margin-left: auto;

      @include tablet {
        margin-left: 8px;
      }

      @include mobile {
        min-height: 32px;
        margin: 16px 8px;
      }

      .option-panel__dropdown {
        @include mobile {
          margin-left: 0;
        }
      }

      span {
        @include mobile {
          display: none;
        }
      }
    }

    &__dropdown {
      margin-left: 8px;
      padding: 0 24px 0 8px;
      color: #6F6F6F;
      font-size: 12px;
      font-family: inherit;
      background: transparent no-repeat right 8px center / 10px 5px  url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%236E6E6E' viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 7a.956.956 0 01-.657-.256l-5.57-5.25a.839.839 0 010-1.237.968.968 0 011.312 0L6.5 4.888 11.415.257a.968.968 0 011.313 0 .839.839 0 010 1.237l-5.572 5.25A.956.956 0 016.5 7z'/%3E%3C/svg%3E");
      border: 1px solid #E6E6E6;
      cursor: pointer;
      appearance: none;

      &:focus-within {
        outline-width: 1px;
        outline-color: $main-green-color;
      }

      &:focus-visible {
        outline-style: solid;
      }
    }

    &__show-filter-btn {
      position: relative;
      display: none;
      align-self: center;
      min-width: 160px;
      margin-left: 8px;
      padding: 4px 48px;
      color: $white-color;
      font-weight: bold;
      background-color: $main-green-color;
      border-radius: 4px;

      @media (max-width: 920px) {
        display: block;
      }

      @include mobile {
        min-height: 32px;
        margin: 16px 8px;
      }

      svg {
        position: absolute;
        top: 4px;
        left: 8px;
        width: 16px;
        height: 16px;

        @include mobile {
          top: 8px;
        }
      }
    }
  }

  &__catalog {
    flex-grow: 1;
    padding-bottom: 200px;
  }
}