@import '../../../theme/styles/config';

.filter {
  &__item {
    margin-bottom: 40px;

    & > ul {
      max-height: 0;
      overflow: hidden;
    }

    &--opened > ul {
      max-height: 1000px;
      transition: max-height 1s ease-in-out;
    }

    &--opened svg {
      transform: rotate(-180deg);
    }
  }

  &__type {
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;

    & svg {
      margin-left: auto;
      transition: transform .3s ease-in-out;
    }
  }
}