@import '../../../theme/styles/config';


.photo-gallery {
  .modal__content {
    @include mobile {
      width: 100%;
      height: 100%;
    }
  }

  .modal__close-btn {
    @include mobile {
      top: 12px;
      right: 4px;
      z-index: 1;
    }

    @media (max-height: 600px) and (min-width: 768px) {
      top: -4px;
    }

    rect {
      @include mobile {
        fill: #acb1b6;
      }
    }
  }

  &__inner {
    max-width: 100vw;
    background-color: #ffffff;
    border-radius: 16px;

    @include mobile {
      height: 100%;
      border-radius: 0;
    }
  }

  &__header {
    position: relative;
    width: 100%;
    padding: 16px 32px 16px 16px;
    font-size: 24px;

    @include mobile {
      font-size: 20px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #e9e9e9;
      content: '';
    }
  }

  &__content {
    height: 100%;
    padding-top: 32px;
    @include flex-centering;
    padding-bottom: 10vh;

    @include tablet {
      padding-bottom: 8px;
    }
  }

  .slider__wrapper {
    overflow: hidden;
    @include mobile {
      transform: translateY(-10vh);
    }

    .slick-slide {
      max-width: 100vw;
      margin: 0 auto;
    }

    .slick-dots {
      position: relative;
      bottom: 0;

      li {
        border: 1px solid rgba(194, 200, 208, .5);
      }
    }

    .slider__wrapper-item .slider__wrapper-photo {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

  }
}