@import '../../theme/styles/config';

.promotions {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $promotions-background;

  &__title{
    margin-top: 39px;
    color: #677283;
    font-weight: bold;
    font-size: 26px;
    line-height: 27px;
    text-transform: uppercase;
    @include mobile {
      margin-top: 20px;
      margin-left: 10px;
      font-size: 20px;
      line-height: 22px;
    }
  }
  &__photo {
    width: 100%;
    max-height: 100%;
    @include flex-centering;
    object-fit: fill;
    &_wrapper {
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
      @include mobile {
        max-height: 30em;
      }
    }
  }

  &__container {
    display: grid;
    grid-template-areas:
            "item1 item1 item4"
            "item1 item1 item5"
            "item2 item3 item6";
    margin: 28px 0 142px;
    padding: 0;

    @include tablet {
      grid-gap: 20px;
      grid-template-areas:
              "item1 item1"
              "item1 item1"
              "item2 item3"
              "item4 item5";
      margin: 18px 0 35px;
    }
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &_grid-item-all {
      @include flex-centering;
      height: 280px;
    }
    &_grid-item1 {
      grid-area: item1;
      height: auto;
      margin-right: 20px;
      margin-bottom: 20px;
      @include tablet {
        height: 600px;
        margin: 0;
      }
      @media (max-width: 1100px) {
        height: 550px;
        margin: 0;
      }
      @media (max-width: 900px) {
        height: 500px;
      }
      @include mobile {
        height: 400px;
      }
    }
    &_grid-item2 {
      grid-area: item2;
      margin-right: 20px;
    }
    &_grid-item3 {
      grid-area: item3;
      margin-right: 20px;
    }
    &_grid-item2, &_grid-item3, &_grid-item4, &_grid-item5 {
      @include tablet {
        width: 100%;
        height: 400px;
        margin-right: 0;
      }
      @media (max-width: 1100px) {
        height: 350px;
      }
      @media (max-width: 1000px) {
        height: 300px;
      }
      @media (max-width: 900px) {
        height: 16em;
      }
    }
    &_grid-item2, &_grid-item3, &_grid-item4 {
      @include mobile {
        height:400px;
      }
    }
    &_grid-item1, &_grid-item2, &_grid-item3, &_grid-item4 {
      @media (max-width: 600px) {
        height: 350px;
      }
      @media (max-width: 500px) {
        height: 300px;
      }
      @media (max-width: 450px) {
        height: 250px;
      }
      @media (max-width: 400px) {
        height: 200px;
      }
    }
    &_grid-item4 {
      grid-area: item4;
    }
    &_grid-item5 {
      grid-area: item5;
      @include mobile {
        display: none;
      }
    }
    &_grid-item6 {
      grid-area: item6;
      @include tablet{
        display: none;
      }
      @include mobile {
        display: none;
      }
    }
  }
}