@import 'src/theme/styles/config';

.payment-subtitle {
  margin: 25px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
}
.payment__wrapper {
	display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px 250px;
  @media (max-width: 523px) {
    grid-template-columns: 1fr;
  }
}
.payment-textinput {
  width: 489px;
  height: 132px;
  margin: 27px 0 20px 0;
  font-family: $font-stack;
  border: 1px solid #D3D7DA;
  border-radius: 3px;
  resize: none;
  @media (max-width: 500px) {
    width: 360px;
  }
  @media (max-width: 370px) {
    width: 310px;
  }
}
.payment-textinput:focus-visible {
  outline: none;
}
.payment-textinput[placeholder] {
  padding: 10px;
  color: #8F8F8F;
  font-weight: normal;
  font-size: 15px;
}