@import "../../../theme/styles/config";

.forgot-password-form {
  color: $black-color;
  &__title {
    position: relative;
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 22px;

    &::after {
      @include horizontal-line;
      bottom: -15px;
    }
  }

  &__label {
    position: relative;
  }

  &__input-title {
    @include login-form-input-title;
  }

  &__input {
    @include login-form-input;

    &__error-mg {
      @include login-form-error-mg;
      bottom: -30px;
    }
  }

  &__submit-btn {
    @include login-form-submit-btn;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__go-back-btn {
    @include fsz-14;
    margin-top: 15px;
    color: #005baa;
  }

  &__success-msg {
    &__text {
      color: $black-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
    }

    &__btn {
      @include login-form-submit-btn;
      padding-right: 100px;
      padding-left: 100px;
    }
  }
}

.invalid-field {
  border-color: #ff6347;
}
