.link-to-top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 100;
  display: none;
  width: 40px;
  height: 40px;
  background-color: rgba(81, 173, 51, .5);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: rgb(81, 173, 51);
  }

  &--show {
    display: block;
  }
}