@import '../../theme/styles/config';

.catalog-page .filter {
  position: relative;
  width: 300px;
  padding-bottom: 40px;
  background-color: $white-color;


  @media (max-width: 920px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    height: 100vh;
    padding: 32px 0 0 32px;
    overflow-y: auto;
    transform: translateX(-300px);
    transition: transform .3s;

    &--show {
      height: 100%;
      box-shadow: 8px 0 8px -8px rgba(34, 60, 80, .6);
      transform: translateX(0);
    }
  }

  &__loader {
    @media (max-width: 920px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;

    @include mobile {
      font-size: 20px;
    }
  }

  &__price-block {
    position: relative;
    font-weight: 500;
    font-size: 20px;
  }

  &__price-field {
    width: 64px;
    margin: 16px 0;
    padding: 8px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    border: 1px solid $main-green-color;
    border-radius: 5px;

    &:nth-of-type(1) {
      margin-right: 16px;
    }
  }

  &__price-btn {
    position: relative;
    margin-left: 8px;
    padding: 8px 16px;
    color: $white-color;
    background-color: $main-green-color;
    border-radius: 5px;

    &::before {
      position: absolute;
      top: 50%;
      left: -84px;
      display: block;
      width: 8px;
      height: 1px;
      background-color: #C4C4C4;
      content: '';
    }
  }
}

.range-slider {
  width: 200px;
  height: 14px;
  margin-bottom: 56px;
  padding: 5px 0;
  border-radius: 6px;
  touch-action: none;

  &__handle {
    width: 24px;
    height: 24px;
    margin-top: -10px;
    background-color: $dark-lime-color;
    border-radius: 50%;
    cursor: grab;
    touch-action: pan-x;

    &:active {
      box-shadow: 0 0 5px $main-green-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__track {
    height: 2px;
    background-color: #98A1AF;
    border-radius: 1px;
  }

  &__track-1 {
    background-color: $main-green-color;
  }
}