@import "../../theme/styles/config";

.card {
  position: relative;
  width: 280px;
  border: 1px solid transparent;
  transition: box-shadow .3s linear;

  &:hover {
    border-top: 1px solid rgba(81, 173, 51, .5);
    border-right: 1px solid rgba(81, 173, 51, .5);
    border-left: 1px solid rgba(81, 173, 51, .5);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .25);

    @include tablet {
      border-bottom: 1px solid rgba(81, 173, 51, .5);
    }
  }

  &:hover &__desc {
    display: block;
    border-right: 1px solid rgba(81, 173, 51, .5);
    border-bottom: 1px solid rgba(81, 173, 51, .5);
    border-left: 1px solid rgba(81, 173, 51, .5);
    box-shadow: 0 15px 14px rgba(0, 0, 0, .25);

    @include tablet {
      display: none;
    }
  }

  &__bestseller-badge {
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 5;
    width: 158px;
    padding: 8px 32px;
    background-color: $main-green-color;

    span {
      color: $white-color;
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
      text-transform: uppercase;
    }
  }

  &__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    min-height: 72px;
    padding: 8px 16px;
    color: $black-color;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__body {
    position: relative;
    padding: 8px 16px 16px;
  }

  &__original-price {
    position: absolute;
    top: 0;
    left: 4px;
    color: #a0a0a0;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    transform: translateY(-100%);
  }

  &__price {
    position: relative;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;

    &--discounted {
      color: #e91e49;
    }
  }

  &__availability {
    font-size: 14px;
    text-transform: lowercase;

    &--in-stock {
      color: $main-green-color;
    }

    &--expected {
      color: #e91e49;
    }
  }

  &__cart-btn {
    position: absolute;
    top: 0;
    right: 16px;
    padding: 8px 10px 8px 6px;
    border: none;
    border-radius: 3px;

    &:disabled {
      svg > path, circle {
        stroke: #C2C8D0;
      }

      &:hover {
        background-color:  #C2C8D0;
      }
    }

    &:hover, &--carted {
      background-color: $main-green-color;

      svg > path,
      circle {
        stroke: white;
      }
    }
  }

  &__desc {
    position: absolute;
    left: -1px;
    z-index: 6;
    display: none;
    width: calc(100% + 2px);
    height: 136px;
    padding: 8px 16px 16px;
    color: #333131;
    font-size: 12px;
    line-height: 18px;
    background-color: $white-color;

    strong {
      font-weight: 700;
    }
  }
}
