@import "../../../theme/styles/config";

.sign-up-form {
  padding-top: 40px;
  padding-bottom: 40px;
  
  &__label {
    @include login-form-label;
  }
  &__input {
    @include login-form-input;

    &-title {
      @include login-form-input-title;
      color: #3a424e;
    }

    &__error-mg {
      @include login-form-error-mg;
    }

    &--invalid-field {
      border-color: #ff6347;
    }
  }
  &__submit-btn {
    @include login-form-submit-btn;
    padding-right: 30px;
    padding-left: 30px;
  }

  &__show-hide-password {
    @include login-form-show-hide-password;
  }
}
