@import '../../theme/styles/config';

.product {
  &__bread-crumbs {
    @include mobile {
      display: none;
    }
  }

  &__main-block {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
          "main-info-item1"
          "main-info-item2";
    @include mobile {
      grid-column-gap: 50px;
      grid-template-areas:
          "main-info-item1"
          "main-info-item2";
      grid-template-columns: 100%;
    }

    &_name {
      margin-bottom: 10px;
    }

    &_info {
      grid-area: main-info-item1;
    }

    &_buy-block {
      display: flex;
      grid-area: main-info-item2;
      justify-content: space-between;
      @include mobile {
        flex-direction: column;
      }
    }
  }

  &__descriptions {
    padding-bottom: 24px;
  }
}
