@import "../../../theme/styles/config";

.cabinet .orders__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-family: 'Open Sans', sans-serif;

  p {
    width: 20%;

    &:nth-child(4) span{
      display: block;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #D3D7DA;
    content: '';
  }

  .orders__status {
    &--accepted {
      color: #677283;
    }

    &--done {
      color: $main-green-color;
    }

    &--canceled {
      color: $red-color;
    }
  }
}