.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 13, 20, .6);
  transition: all .8s ease;
  

  &__content {
    position: relative;
  }

  &__close-btn {
    position: absolute;
    top: -25px;
    right: -40px;

    @media screen and (max-width: 530px) {
      top: -20px;
      right: -30px;
      transform: scale(.8); 

      @supports (-webkit-touch-callout: none) {
        top: -23px;
        right: -38px;
      }
    }
  }
}
