@import '../../../theme/styles/config';

.product {
  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 29px;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__name {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding-top: 8px;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    text-transform: uppercase;
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 16px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  &__code {
    padding: 7px 13px;
    font-size: 14px;
    line-height: 26px;
    text-transform: none;
    background-color: #F7F5F6;
  }
}