.comments .item {
  margin-bottom: 24px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #e9e9e9;
  }

  &__body {
    position: relative;
    padding: 16px 24px 16px 16px;
    font-size: 14px;
    word-wrap: break-word;
  }

  &__author {
    font-weight: bold;
  }

  &__date, &__edited-msg {
    color: #a6a5a5;
    font-size: 14px;
  }

  &__edited-msg {
    font-weight: 300;
  }
}