@import '../../theme/styles/config';

.populars {
  min-height: 400px;
  &__title {
	margin-top: 80px;
	margin-left: 40px;
	color: #677283;
	font-weight: bold;
	font-size: 26px;
	font-family: $font-stack;
	line-height: 27px;
	text-transform: uppercase;

    @media (max-width: 360px) {
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  .slider__wrapper {
	@media (max-width: 1200px) {
	  display: grid;
	  grid-template-columns: 510px 300px;
	  align-items: center;
	  justify-content: center;
	  max-width: 832px;
	  margin-right: auto;
	  margin-left: auto;
	  overflow-x: hidden;
	}
  }
}

.populars div.slick-list {
	left: 24px;

	@media (max-width: 1200px) {
		left: 18px;
	}

  	@media (max-width: 758px) {
		left: -8px;
  	}

  	@media (max-width: 360px) {
		left: 15px;
  	}
}