@import '../../../theme/styles/config';

.product__descriptions{
  &_options{
    display: flex;
    margin-bottom: 72px;

    @include mobile {
      flex-direction: column;
    }

  }
  &-select {
    @include flex-centering;
    width: calc(100% / 3);
    height: 74px;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    background-color: #F7F5F6;

    &--active {
      background-color: #EEEEEE;
    }

    &:hover{
      background-color: #EEEEEE;
    }

    @include mobile {
      width: 100%;
    }
  }
  &_characteristics {
    &-list {
      font-size: 20px;
      line-height: 35px;
    }
    &-title {
      display: flex;
      align-items: center;
      width: 50%;
      min-width: 155px;
      padding: 0 8px;
      font-weight: bold;
    }
    &-item {
      display: flex;
      width: 100%;
      &:nth-child(2n){
        background-color: #EEEEEE;
      }
    }
    &-desc {
      display: flex;
      align-items: center;
      width: 100%;
      min-width: 105px;
      padding: 0 8px;
    }
  }
}
