@import '../../theme/styles/config';

.ordering__title {
  margin-top: 25px;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  @media (max-width: 360px) {
	font-size: 20px;
  }
}
.selected-products-wrapp {
  display: flex;
  justify-content: flex-end;
}
.ordering__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  @media screen and (max-width: 1026px) {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.oredering-container {
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -99px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label
  {
    position: relative;
    display: inline-block ;
    margin: 0;
    padding-left: 28px;
    color: #666;
    cursor: pointer;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    background: #fff;
    border: 1px solid #98A1AF;
    border-radius: 100%;
    content: '';
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 11px;
    height: 11px;
    background: #73BC5B;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    content: '';
  }
  [type="radio"]:not(:checked) + label:after {
    transform: scale(0);
    opacity: 0;
  }
  [type="radio"]:checked + label:after {
    transform: scale(1);
    opacity: 1;
  }
  input[type='radio'] {
    width: 20px;
    height: 20px;
  }
}
