@import '../../theme/styles/config';

.cabinet__info-form {
  display: flex;
  flex-wrap: wrap;

  @include mobile {
    justify-content: center;
  }
}

.birthPicker {
  display: flex;
  justify-content: space-between;
  width: 352px;

  @include tablet {
    width: 100%;
  }

  &__item {
    width: 24%;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__item:nth-child(2) {
    width: 40%;

    @include tablet {
      width: 48%;
    }
  }

  &__item:last-child {
    min-width: 64px;
  }

  .cabinet__select {
    width: 100%;

    @include tablet {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}