@import '../../theme/styles/config';


.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  background-color: $white-color;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    @include mobile {
      flex-wrap: wrap;
      padding-bottom: 8px;
    }
  }

  & > .loader-wrapper {
    @include tablet {
      display: none;
    }
  }
}