@import '../../theme/styles/config';

.cart__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 64px;

  @include mobile {
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 220px;
  }

  & > * {
    padding: 0 8px;
  }

  .name {
    display: flex;
    width: 36%;
    min-width: 360px;

    @include mobile {
      min-width: 100%;
      margin-bottom: 16px;
    }

    &__img-wrapper {
      min-width: 180px;
      height: 128px;
      margin-right: 16px;
      overflow: hidden;
      @include flex-centering;

      @include mobile {
        min-width: 128px;
      }
    }

    &__img {
      max-width: 100%;
      max-height: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__link {
      color: $black-color;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }

    &__subtitle {
      color: #D3D4D7;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -.03em;
    }
  }

  .cart__price, .quantity {
    width: 16%;
  }

  .cart__price {
    display: flex;
    align-items: center;
    color: $black-color;
    font-weight: 500;
    font-size: 16px;

    &:nth-of-type(1) {
      @include mobile {
        display: none;
      }
    }
  }

  .quantity {
    display: flex;
    align-items: center;

    &__wrapper {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      background: #F7F5F6;
    }

    &__btn {
      display: block;
      padding: 8px;
      font: inherit;
      transition: color .3s;

      &:hover {
        color: $main-green-color;
      }
    }

    &__indicator {
      width: 32px;
      text-align: center;
    }
  }

  .cart__del-btn {
    margin-left: 4%;

    rect {
      transition: fill .3s;
    }

    &:hover rect {
      fill: $red-color;
    }

    @include tablet {
      margin-left: 0;
    }

    @include mobile {
      position: absolute;
      top: 0;
      right: 0;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}