@import '../../../theme/styles/config';

.search-block {
  position: relative;
  width: 450px;

  @include mobile {
    order: 5;
    width: 100%;
    margin-top: 16px;
  }

  .search-field {
    display: block;
    &--active .search-field__input {
      border-radius: 20px 20px 0 0;
    }

    &__input {
      width: 100%;
      height: 40px;
      padding-right: 56px;
      padding-left: 16px;
      font-family: 'Roboto', sans-serif;
      border: 1px solid #E7E9EB;
      border-radius: 20px;

      &::placeholder {
        color: #D1D3D5;
        font-size: 12px;
        text-transform: capitalize;
      }

      &::-webkit-search-cancel-button {
        appearance: none;
      }

      &:focus {
        outline: none;
      }
    }

    &__clear-btn {
      position: absolute;
      top: 12px;
      right: 40px;
      padding: 0;

      &:hover rect {
        fill: $red-color;
      }
    }

    &__icon {
      position: absolute;
      top: 4px;
      right: 4px;
      padding: 0;

      @supports (-webkit-touch-callout: none) {
        top: 3px;
      }
    }
  }

  .result-list {
    position: absolute;
    z-index: 13;
    width: 100%;
    background-color: $white-color;
    border: 1px solid #E7E9EB;
    border-top: 0;
    border-radius: 0 0 20px 20px;

    &__link {
      display: block;
      padding: 8px 16px;
      color: #424242;
      font-size: 14px;
      border-radius: 20px;

      &:hover {
        background-color: #f3f6fa;
      }
    }
  }
}