@import "../../../theme/styles/config";

.subscription-form {
  position: relative;
  &__input {
    width: 100%;
    padding: 7px 20px 10px;
    font-size: 13px;
    font-family: "Open Sans", $font-stack;
    line-height: 16px;
    border: none;
    border-radius: 20px;

    &__error-mg {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 140px);
      display: inline-block;
      width: 100%;
      text-align: center;

      @media (max-width: 430px) {
        bottom: -15px;
        font-size: 11px;
      }
    }
  }

  &__submit-btn {
    position: absolute;
    top: calc(50% - 13.5px);
    right: 5px;
    padding: 7px 9px 7px 11px;
    line-height: 0;
    background-color: $main-green-color;
    border-radius: 20px;

    @supports (-webkit-touch-callout: none) {
      transform: translateY(-2px);
    }

    &--invalid-btn {
      background-color: #ff6347;
    }
  }

  &__submit-btn-icon {
    display: inline-block;
    vertical-align: middle;
  }
}