@import '../../theme/styles/config';


.error-page {
  min-height: 100vh;
  background-color: #E5E5E5;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    width: 50%;
    margin-bottom: 32px;
  }

  &__title {
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;

    @include mobile {
      font-size: 36px;
    }
  }

  &__btn {
    color: $main-green-color;
    font-weight: bold;
    font-size: 36px;
    border-radius: 8px;
    transition: box-shadow .3s ease-in-out;

    &:hover {
      box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .2);
    }
  }
}