.banner-list {
  .slider__wrapper-item .slider__wrapper-photo {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
  }
  @media (max-width: 1181px) {
	.slider__wrapper-item .slider__wrapper-photo {
	  width: 106vw;
	}
  }
  @media (max-width: 360px) {
	.slider__wrapper-item .slider__wrapper-photo {
	  width: 106vw;
	  height: 170px;
	}
  }
}
