@import "../../theme/styles/config";

.footer {
  color: $white-color;
  font-size: 12px;
  background-color: $black-color;

  &__copyright {
    position: relative;
    padding-top: 25px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__copyright::before {
    @include horizontal-line;
    top: 0;
  }

  @media (max-width: 593px) {
    font-size: 14px;
  }
}

.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 65px;

  &__intro {
    &__item {
      margin-top: 5px;
      text-transform: capitalize;

      &:last-child {
        margin-top: 35px;

        @media (max-width: 593px) {
          margin-top: 5px;
        }
      }
    }

    &__link {
      color: $white-color;
      text-transform: lowercase;
    }

    @include mobile {
      padding-bottom: 20px;
    }
  }

  &__navbar {
    display: flex;
    flex-grow: 3;
    justify-content: space-evenly;

    &__item {
      margin-right: 30px;
      margin-left: 30px;
      transition: .3s;

      &__list {
        padding-top: 8px;

        @media (max-width: 430px) {
          display: none;
          padding-top: 23px;
        }
      }

      &__link-wrap {
        margin-bottom: 20px;

        @media (max-width: 430px) {
          position: relative;
          padding-top: 10px;
          padding-bottom: 10px;
          &:last-child {
            margin-bottom: 0;
          }
          &::before {
            @include horizontal-line;
            top: -10px;
          }
        }
      }

      &__link {
        color: $white-color;
        text-transform: capitalize;

        @media (max-width: 430px) {
          font-size: 16px;
        }
      }

      &__exp-btn {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 52px;

        @media (max-width: 430px) {
          display: inline-block;
        }
      }

      &__exp-btn-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        transform: scale(1.5) rotate(90deg);
        transition: .2s;
      }

      @include mobile {
        margin-right: 10px;
        margin-left: 10px;
      }

      @media (max-width: 430px) {
        position: relative;
        margin-bottom: 30px;
        padding: 10px;
        border: 1px solid $white-color;
      }
    }

    @media (max-width: 430px) {
      flex-direction: column;
    }
  }

  &__subscription {
    width: 280px;
    &__item {
      &:not(:nth-child(2)) {
        padding-left: 20px;

        @media (max-width: 593px) {
          padding-bottom: 20px;
        }

        @media (max-width: 801px) {
          padding-left: 40px;
        }
      }

      &:first-child {
        @media (max-width: 593px) {
          padding-left: 5px;
        }
      }

      &:last-child {
        display: flex;
        align-items: center;
        margin-top: 30px;

        &::first-letter {
          text-transform: uppercase;
        }

        @media (max-width: 593px) {
          margin-top: 20px;
          padding-left: 30px;
        }
      }

      &__link {
        margin-left: 10px;
      }
    }

    @media (max-width: 430px) {
      align-self: center;
    }

    @media (max-width: 801px) {
      padding-top: 40px;
    }
  }

  &--block-title {
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 16px;

    &::first-letter {
      text-transform: uppercase;
    }

    @media (max-width: 430px) {
      padding-bottom: 5px;
      font-weight: 500;
      font-size: 20px;
    }
  }

  @media (max-width: 593px) {
    padding-top: 40px;
    padding-bottom: 35px;
    text-align: center;
  }

  @media (max-width: 430px) {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.show-list {
  display: block;
}

.rotate-btn-icon {
  transform: scale(1.5) rotate(270deg);
}
