@import '../../theme/styles/config';

.footer-page {
    padding: 160px 0 34px;

    &__inner {
        position: relative;
        min-height: 75vh;
        padding: 25px;
        border-radius: 4px;
        box-shadow: 0 1px 3px #e0e0e0, 0 2px 2px #f0f0f0, 0 0 2px #ededed;

        @media screen and (min-height: 900px) {
            min-height: 79vh;
        }

        @media screen and (min-height: 1080px) {
            min-height: 82vh;
        }

        @media screen and (min-height: 1440px) {
            min-height: 87vh;
        }

        @media screen and (min-height: 1800px) {
            min-height: 90vh;
        }

        @media screen and (min-height: 2160px) {
            min-height: 91vh;
        }

        .pagination {
            position: absolute;
            right: 0;
            bottom: 25px;
            left: 0;
        }
    }

    &.sitemap {
        .footer-page__inner {
            padding-bottom: 75px;
        }
    }

    &__title {
        margin-bottom: 30px;
        padding-left: 10px;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
    }

    &__subtitle {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    &__text {
        margin-bottom: 5px;
        line-height: 25px;
    }

    &__text-block {
        padding: 10px;

        &.gray-bg{
            background-color: #f0f0f0;
        }
    }

    &__list {
        padding-left: 20px;
        &__item {
            margin-bottom: 5px;
            line-height: 25px;

            @include mobile-small {
                list-style-type: none;
            }
        }

        &.ol {
            list-style-type: decimal;

            @include mobile-small {
                list-style-type: none;
            }
        }

        &.ul {
            list-style-type: disc;
        }

        @include mobile-small {
            padding-left: 0;
        }
    }

    &__table {
        width: 100%;
        margin-bottom: 24px;
        table-layout: fixed;
        border: 1px solid #e0e0e0;
        border-collapse: collapse;
        border-spacing: 0;

        @include mobile {
            border: 0;
        }
    }

    &__tr {
        &.heading {
            font-weight: 700;
            background-color: #f0f0f0;
        }

        @include mobile {
            display: block;
            margin-bottom: 16px;
            border-bottom: 1px solid #e0e0e0;

            &:first-child {
                display: none;
            }
        }
    }

    &__td {
        padding: 12px 16px;
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;

        @include mobile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px;
            text-align: left;

            &:first-child {
                width: 100%;
                font-weight: 700;
                font-size: 13px;
            }

            &:nth-child(even) {
                background: #F5F5F5;
            }

            &::before {
                min-width: 50%;
                padding-right: 20px;
                content: attr(data-content);
            }
        }
    }

    &__img-wrapper {
        padding: 5px 30px 5px 15px;

        @include mobile {
            padding-right: 15px;
            padding-bottom: 20px;
        }
    }

    &__img {
        width: 140px;
    }

    &.delivery-and-payment {
        .footer-page__text-block {
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                flex-direction: column;
            }
        }
    }

    @include mobile-small {
        font-size: 14px;
        text-align: center;
    }
}

.font-bold {
    font-weight: 700;
}