@import '../../../theme/styles/config';


.login-block {
  @include tablet {
    display: none;
  }

  &__expandable {
    position: absolute;
    z-index: 1;
    display: none;
    padding: 8px 16px;
    color: #3F3E3E;
    font-size: 14px;
    line-height: 27px;
    background: $white-color;
    border-radius: 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

    & > li:first-child::after {
      display: block;
      width: 136px;
      height: 1px;
      background-color: #E7E9EB;
      content: '';
    }
  }

  &:hover &__expandable {
    display: block;
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 12px;

    & > svg {
      margin-right: 8px;
    }

    span {
      color: $black-color;
    }

    &--logined span{
      font-weight: 500;
    }
  }
}