@import "../../theme/styles/config";

.login-modal {
  &__inner {
    width: 470px;
    max-height: calc(85vh - 50px);
    padding: 30px 50px;
    overflow-y: auto;
    color: $white-color;
    text-align: center;
    background-color: #f9f9fb;
    border-radius: 10px;

    @media (orientation: landscape) and (max-width: 800px) {
      width: 85vw;
      @supports (-webkit-touch-callout: none) {
        max-height: calc(80vh - 50px);
      }
    }

    @media screen and (max-width: 555px) {
      width: 85vw;
    }

    @media screen and (max-width: 530px) {
      padding: 20px 15px;
    }
  }

  &__switch-btns-block {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    &::after {
      @include horizontal-line;
      bottom: 0;
      background-color: $main-green-color;
    }

  }

  &__btn {
    position: relative;
    padding: 0;
    line-height: 27px;

    @media (orientation: landscape) and (max-width: 800px) {
      flex-basis: 50%;
    }

    @media screen and (max-width: 530px) {
      flex-grow: 1;
    }

    &-title-wrap {
      display: inline-block;
      width: 100%;
      padding-left: 30px;
      font-weight: 700;
      font-size: 22px;
      text-align: left;
      text-transform: capitalize;

      @media screen and (max-width: 530px) {
        padding-left: 0;
        font-size: 18px;
        text-align: center;
      }
    }

    &:first-child {
      flex-grow: 1;
    }
  }

  &__social-block {
    display: flex;
    align-items: center;
    justify-content: center;

    &__btn {
      @media screen and (max-width: 530px) {
        justify-content: center;
        width: 100%;
      }
    }
  }

  &__link {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &--active-btn {
    &::after {
      @include horizontal-line;
      bottom: -10px;
      height: 10px;
      background-color: $main-green-color;
    }
  }
}

.btn-pd {
  padding-left: 8px;

  @media (orientation: landscape) and (max-width: 800px) {
    text-align: center;
  }
}

