@import '../../../theme/styles/config';


.filter__name {
  position: relative;
  width: 136px;
  padding: 8px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;

  label {
    display: inline-flex;
    align-items: center;
    padding-left: 24px;
    cursor: pointer;
    user-select: none;
  }

  input {
    @include custom-checkbox;

    & + label::before {
      position: absolute;
      left: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: $white-color;
      border: 1px solid #98A1AF;
      border-radius: 2px;
      transition: background-color .3s, border .3s;
      content: "";
    }

    &:checked + label::before {
      background: $main-green-color 50%/10px 8px no-repeat url("data:image/svg+xml;utf8,<svg width='14' height='12' viewBox='0 0 14 12' xmlns='http://www.w3.org/2000/svg'><path d='M4.10351 8.89548L1.45582 6.09578L0 7.6352L4.13584 12L14 1.56934L12.5159 0L4.10351 8.89548Z' fill='rgb(255, 255, 255)' /></svg>");
      border-color: $main-green-color;
    }
  }
}