@import '../../theme/styles/config';

.bread-crumbs {
  display: flex;
  padding: 24px 0 32px;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child)::after {
      display: block;
      width: 8px;
      height: 8px;
      margin: 0 16px;
      border-top: 1px solid $black-color;
      border-left: 1px solid $black-color;
      transform: rotate(135deg);
      content: '';
    }

    &:last-child > .bread-crumbs__link {
      color: #7D7D7D;
    }
  }

  &__link {
    color: $black-color;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
}