@import '../../../theme/styles/config';


.tel-block {
  position: relative;
  min-width: 190px;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 1px;

  @include tablet {
    display: none;
  }

  &__tel {
    display: inline-block;
    margin-right: 8px;
    color: $black-color;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;

    &--sm {
      margin-right: 16px;
      margin-bottom: 8px;
      color: inherit;
      font-size: inherit;
    }
  }

  &__expandable {
    position: absolute;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    padding: 16px 0 8px 16px;
    color: #3F3E3E;
    font-size: 14px;
    background-color: white;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .25);
  }

  &--expanded > &__expandable {
    display: block;
  }

  &--expanded {
    box-shadow: 2px 0 4px -2px rgba(0, 0, 0, .25), -2px 0px 4px -2px rgba(0, 0, 0, .25);
  }
}