@import '../../../theme/styles/config';


.header__category {
  background-color: $main-green-color;
}

.category-nav {
  &__loader {
    @include tablet {
      display: none;
    }
  }

  @include tablet {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;

    &:hover{
      background-color: $dark-lime-color;
    }
  }

  &__link {
    display: inline-block;
    padding: 16px;
    color: $white-color;
    font-size: 14px;
    text-transform: uppercase;

    &:hover + .subcategory-nav{
      display: block;
    }
  }
}