@import '../../../theme/styles/config';

.product {
  &__buy {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    margin-left: 15%;
    padding: 4px;
    @include tablet {
      width: 40%;
      margin-left: 10%;
    }
    @include mobile {
      flex-direction: row;
      justify-content: space-around;
      //justify-content: center;
      width: 100%;
      margin-left: 0;
    }
    @media (max-width: 360px) {
      margin-left: 5px;
    }
    &-availability {
      color: #51AD33;
      font-size: 16px;
      line-height: 16px;
      text-transform: lowercase;
    }
    &_price {
      justify-content: flex-start;
      color: #000000;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      text-transform: uppercase;
      &-currency {
        font-weight: normal;
        text-transform: lowercase;
      }
      @media (max-width: 450px) {
        font-size: 30px;
      }
      @media (max-width: 320px) {
        font-size: 24px;
      }
    }
    &_button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 10px 0;
      padding: 9px 20px;
      background-color: #51AD33;
      border-radius: 3px;
      &--center {
        justify-content: center;
      }
      @include tablet {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      @include mobile {
        width: 30%;
        margin-top: 0;
      }
      @media (max-width: 590px) {
        width: 40%;
      }
      @media (max-width: 380px) {
        width: 50%;
      }
      &-title {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        line-height: 160%;
      }
      &-icon--hidden {
        display: none;
      }
    }
    &_delivery {
      color: #000000;
      line-height: 160%;
      @include mobile {
        display: none;
      }
      &-title {
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
      }
      &-list {
        font-size: 14px;
      }
    }
    &_guarantee {
      &-title {
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        @include mobile {
          display: none;
        }
      }
      &-description {
        margin-bottom: 11px;
        font-size: 14px;
        line-height: 140%;
        @include mobile {
          display: none;
        }
      }
      &-details {
        color: #00B0FF;
        font-size: 14px;
        @include mobile {
          padding: 10px 20px;
          text-align: center;
          border-radius: 3px;
        }
      }
    }
  }
  &__price {
    display: flex;
    flex-direction: column;
    @include mobile {
      width: 30%;
    }
    @media (max-width: 590px) {
      width: 40%;
    }
    @media (max-width: 380px) {
      width: 50%;
    }
    &-availability {
      font-size: 14px;
      text-transform: lowercase;

      &--in-stock {
        color: $main-green-color;
      }

      &--expected {
        color: #E91E49;
      }
    }
  }
}