@import '../../theme/styles/config';

.page-404 {
  min-height: 500px;
  padding: 160px 0 48px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    width: 20%;
    margin-bottom: 32px;
  }

  &__title {
    width: 100%;
    margin-bottom: 32px;
    color: #445566;
    font-weight: bold;
    font-size: 32px;
    text-align: center;

    &::after {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 32px;
      background-color: #eeeeee;
      content: '';
    }

    @include tablet {
      font-size: 24px;
    }
  }

  &__btn {
    padding: 8px 16px;
    color: $white-color;
    font-size: 24px;
    background-color: $main-green-color;
    border: 1px solid $main-green-color;
    border-radius: 24px;
    transition: background-color .3s ease-in-out;

    &:hover {
      color: $main-green-color;
      background-color: $white-color;
    }

    @include mobile {
      font-size: 24px;
    }
  }
}