@import 'src/theme/styles/config';

.delivery-subtitle {
  margin: 25px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
}
.delivary__form {
  display: flex;
  flex-direction: column;
}
.delivary__form-inner {
  display: flex;
  align-items: center;
  margin: 11px 0 11px 0;
}
.delivery-select {
  width: 489px;
  height: 44px;
  margin-bottom: 10px;
  padding-left: 12px;
  color: #9EA6B2;
  font-weight: normal;
  font-size: 16px;
  background: #FFFFFF;
  border: 1px solid #D3D7DA;
  border-radius: 3px;

  @media (max-width: 500px) {
    width: 360px;
    height: 44px;
  }
  @media (max-width: 370px) {
    width: 310px;
  }
}
.delivery__form-input:focus {
  border-color: $dark-lime-color;
  box-shadow: 0 0 0 4px rgba(81, 173, 51, .25);
}
.delivery-select:focus {
  border-color: $dark-lime-color;
  box-shadow: 0 0 0 4px rgba(81, 173, 51, .25);
}
.delivary__form-label {
  padding-left: 15px;
}
.delivery__form-input {
  box-sizing: border-box;
  width: 489px;
  height: 44px;
  margin-bottom: 18px;
  padding-left: 10px;
  border: 1px solid #D3D7DA;
  border-radius: 3px;
}
.delivery__form-input {
  @media (max-width: 500px) {
    width: 360px;
    height: 44px;
  }
  @media (max-width: 370px) {
    width: 310px;
  }
}
