@import 'src/theme/styles/config';

.error-msg {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100000;
  padding: 16px;
  color: $white-color;
  background-color: $red-color;
  border-radius: 8px;
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, .2);
  transform: translate(-50%, calc(-100% - 10px));
  transition: transform .3s ease-in-out;

  &--show {
    transform: translate(-50%, calc(50vh - 50%));
  }
}