@import '../../../theme/styles/config';


.burger-btn {
  display: none;
  width: 26px;
  padding: 0;

  @include tablet {
    display: inline-block;
  }

  &__bar {
    display: block;
    width: 100%;
    height: 3px;
    margin: 6px 0;
    background: #C2C8D0;
    border-radius: 1px;

    &--top {
      width: 58%;
      margin-right: 42%;
    }
  }
}