.filter__popup {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
  align-items: center;
  min-width: 136px;
  height: 40px;
  padding: 0 8px;
  font-size: 12px;
  font-family: inherit;
  background: #E4EAF2;
  border-radius: 3px;
  transform: translateY(-5px);

  &::before {
    position: absolute;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent #E4EAF2 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    transform: translateX(-100%);
    content: '';
  }

  button {
    display: block;
    margin-left: 8px;
    padding: 0;
    color: #005BAA;
    font-family: 'Roboto', sans-serif;
    line-height: 14px;
    border-bottom: 1px dotted #005BAA;
  }
}