@import "../../../theme/styles/config";

.log-in-form {
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: 530px) {
    width: 100%;
    padding-bottom: 30px;
  }

  &__label {
    @include login-form-label;
  }
  &__input {
    @include login-form-input;

    &-title {
      @include login-form-input-title;
      color: $black-color;
    }

    &__error-mg {
      @include login-form-error-mg;
    }

    &--invalid-field {
      border-color: #ff6347;
    }
  }
  &__show-hide-password {
    @include login-form-show-hide-password;
  }

  &__submit-btn {
    @include login-form-submit-btn;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.auth-restore-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  @media screen and (max-width: 530px) {
    margin-top: 30px;
  }

  @media screen and (max-width: 350px) {
    flex-direction: column;
    justify-content: center;
  }

  &__remember-me {
    &-label {
      line-height: 14px;
    }
    &-checkbox {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:not(:disabled) {
        &:not(:checked) {
          & + .auth-restore-block__remember-me-checkbox-title {
            @media screen and (max-width: 350px) {
              padding: 10px;
              color: #005baa;
              background-color: transparent;
            }
            &:hover {
              &::before {
                border-color: #b3d7ff;
              }
            }
          }
          &:active {
            & + .auth-restore-block__remember-me-checkbox-title {
              &::before {
                background-color: #b3d7ff;
                border-color: #b3d7ff;
              }
            }
          }
        }

        &:checked {
          & + .auth-restore-block__remember-me-checkbox-title {
            &::before {
              background-color: $main-green-color;
              background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
              border-color: $main-green-color;
            }

            @media screen and (max-width: 350px) {
              padding: 10px;
              color: $white-color;
              background-color: $main-green-color;
            }
          }
        }

        &:disabled {
          & + .auth-restore-block__remember-me-checkbox-title {
            &::before {
              background-color: #e7e9eb;
            }

            @media screen and (max-width: 350px) {
              padding: 10px;
              color: #333131;
              background-color: #e7e9eb;
            }
          }
        }
      }

      &-title {
        @include fsz-14;
        display: inline-flex;
        align-items: center;
        color: #333131;
        cursor: pointer;
        user-select: none;

        &::before {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
          border: 1px solid #e7e9eb;
          border-radius: 2px;
          content: "";
          
          @media screen and (max-width: 350px) {
            display: none;
          }
        }

        @media (orientation: landscape) and (max-width: 800px) {
          font-size: 16px;
        }

        @media screen and (max-width: 350px) {
          font-size: 16px;
        }
      }
    }
  }

  &__forgot-password-btn {
    @include fsz-14;
    padding: 0;
    color: #005baa;

    @media (orientation: landscape) and (max-width: 800px) {
      font-size: 16px;
    }

    @media screen and (max-width: 350px) {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 350px) {
    position: relative;
    &::before {
      @include horizontal-line;
      bottom: 25px;
    }
  }
}